version: "3.9"

services:
  app:
    build: .
    container_name: shubserver-app
    env_file:
      - .env
    depends_on:
      - migrate 

  migrate:
    image: migrate/migrate
    depends_on:
      - db
    volumes:
      - ./migrations:/migrations
    command:
      [
        "-path", "/migrations",
        "-database", "${DATABASE_URL}",
        "up"
      ]
