name: Run Database Migrations

on:
  push:
    branches:
      - main

jobs:
  migrate:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install golang-migrate
      run: |
          curl -L https://github.com/golang-migrate/migrate/releases/download/v4.17.0/migrate.linux-amd64.tar.gz | tar xvz
          sudo mv migrate /usr/local/bin/migrate

    - name: Run Migrations
      env:
        DATABASE_URL: ${{ secrets.DATABASE_URL }}
      run: |
        migrate -path migrations -database "$DATABASE_URL" up